@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans");
@import url('https://fonts.googleapis.com/css?family=Teko');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}
body::-webkit-scrollbar {
    width: 0.5em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
a {
    text-decoration: none
}
.container{
   background: #CB356B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-attachment: fixed;

}
.clubs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80%;
    padding: 3rem 0 0 0;
    margin: auto;
    height: 100%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    

}

.clubs_heading {
    font-size: 4rem;
    font-family: Open sans;
}

.clubs-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    margin-top: 3rem
}

@media only screen and (max-width: 56.25em) {
    .clubs-con {
        width: 18rem;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.clubs-con-img {
    width: 20rem;
    margin-bottom: 6rem;
    cursor: pointer;
    transform: translateX(100px);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.clubs-con-img img {
    width: 100%
}

.popup {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.3)
    }
}

.popup__heading {
    text-align: center;
    font-size: 4rem;
    font-family: Open sans;
    letter-spacing: 3px;
}

.popup__heading-content {
    text-align: center
}

@media only screen and (max-width: 37.5em) {
    .popup__heading {
        font-size: 2rem
    }
}

.popup__content {
    /*position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    opacity: 1;
    -webkit-transition: all .5s .2s;
    transition: all .5s .2s
}

.popup__right {
    padding: 3rem 5rem;
}

@media only screen and (max-width: 56.25em) {
    .popup__right {
        padding: 2rem
    }
}

.popup__img {
    width: 100%;
    display: block
}

@media only screen and (max-width: 75em) {
    .popup__img {
        display: inline-block;
        width: 49%
    }
}

.popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    overflow-y: scroll;
    height: 31rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.popup__text .list {
    text-align: center;
    padding: 3rem;
    margin: 4rem 0;
    font-size: 1.5rem;
    border: 5px solid #444
}

@media only screen and (max-width: 37.5em) {
    .popup__text .list {
        margin: 1rem 0;
        padding: .5rem
    }
}

.popup__text .list-header {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: Open sans;
}

.popup__text .list-disc {
    font-size: 1rem;
    font-family: Montserrat;
}

.popup__text .list-boxCon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media only screen and (max-width: 37.5em) {
    .popup__text .list-boxCon {
        display: block
    }
}

.popup__text .list-boxCon .btn {
    padding: 1.3rem;
    background: #1212ff
}

.popup__text .list-boxCon .btn a,
.popup__text .list-boxCon .btn a:visited,
.popup__text .list-boxCon .btn a:link {
    color: #eee
}

.popup__text .list-boxCon-rules {
    margin: 2rem
}

.popup__text .list-boxCon-reg {
    margin: 2rem
}

.popup:target {
    opacity: 1;
    visibility: visible
}

.popup:target .popup__content {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1)
}

.popup__close:link,
.popup__close:visited {
    color: #777;
    position: absolute;
    top: 0.5rem;
    right: 0.8rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all .2s;
    transition: all .2s;
    line-height: 1
}

.popup__close:hover {
    color: #7ed56f
}