@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans");
@import url('https://fonts.googleapis.com/css?family=Teko');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}
body::-webkit-scrollbar {
    width: 0.5em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

a {
    text-decoration: none
}
.container{
    background-attachment: fixed;
    background: linear-gradient(184deg, rgba(203,54,106,1) 0%, rgba(189,63,51,1) 100%);
    /* color: white; */
}

.clubs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80%;
    padding: 3rem 0 0 0;
    margin: auto;
    height: 100%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    

}

.clubs_heading {
    font-size: 6rem;
    font-family: Open sans;
    font-weight: bold;
}

.clubs-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    margin-top: 3rem
}

.clubs-con-img {
    width: 20rem;
    margin-bottom: 6rem;
    cursor: pointer;
    -webkit-transform: translateX(100px);
        -ms-transform: translateX(100px);
            transform: translateX(100px);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    position: relative;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
}

.clubs-con-img:hover .overlay{
    background: #e9d8af71;
    text-align: center;
}

.clubs-con-img img {
    width: 100%;
}

@media only screen and (max-width: 56.25em) {
    .clubs-con {
        width: 18rem;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .clubs-con-img{
        width: 16rem;
    }
}

.club-6 img{
    -o-object-fit: fill;
    object-fit: fill;
    height: 20.9rem;
}

.popup {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
    .popup {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.3)
    }
}

.popup__heading {
    text-align: center;
    font-size: 4rem;
    font-family: Open sans;
    letter-spacing: 3px;
}

.popup__heading-content {
    text-align: center
}

@media only screen and (max-width: 37.5em) {
    .popup__heading {
        font-size: 2rem;
    }

    .popup__right{
        padding: 1rem 2rem !important;
    }

    .popup__text{
        margin: 1rem !important;
    }
}

.popup__content {
    /*position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    opacity: 1;
    -webkit-transition: all .5s .2s;
    -o-transition: all .5s .2s;
    transition: all .5s .2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.popup__right {
    padding: 3rem 5rem;
}

@media only screen and (max-width: 56.25em) {
    .popup__right {
        padding: 2rem
    }
}

.popup__img {
    width: 100%;
    display: block
}

@media only screen and (max-width: 75em) {
    .popup__img {
        display: inline-block;
        width: 49%
    }
}

.popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    overflow-y: scroll;
    height: 35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.popup__text .list {
    text-align: center;
    padding: 3rem;
    margin: 4rem 0;
    font-size: 1.5rem;
    border: 5px solid #444
}

@media only screen and (max-width: 37.5em) {
    .popup__text .list {
        margin: 1rem 0;
        padding: .5rem
    }
}

.popup__text .list-header {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: Open sans;
}

.popup__text .list-disc {
    font-size: 1rem;
    font-family: Montserrat;
}

.popup__text .list-disc p {
    font-weight: 700;
    display: inline-block;
}

.popup__text .list-boxCon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media only screen and (max-width: 37.5em) {
    .popup__text .list-boxCon {
        display: block
    }
}

.popup__text .list-boxCon .btn {
    padding: 1.3rem;
    background: #1212ff
}

.popup__text .list-boxCon .btn a,
.popup__text .list-boxCon .btn a:visited,
.popup__text .list-boxCon .btn a:link {
    color: #eee
}

.popup__text .list-boxCon-rules {
    margin: 2rem
}

.popup__text .list-boxCon-reg {
    margin: 2rem
}

.popup:target {
    opacity: 1;
    visibility: visible
}

.popup:target .popup__content {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1)
}

.popup__close:link,
.popup__close:visited {
    color: #777;
    position: absolute;
    top: 0.5rem;
    right: 0.8rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    line-height: 1
}

.popup__close:hover {
    color: #7ed56f
}

.popup-bottom{
    text-align: center;
}

.draw-border {
    -webkit-box-shadow: inset 0 0 0 4px #58afd1;
            box-shadow: inset 0 0 0 4px #58afd1;
    color: #58afd1;
    -webkit-transition: color 0.25s 0.0833333333s;
    -o-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;
  }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  .draw-border:hover {
    color: #ffe593;
  }
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: #ffe593;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    -o-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
         -o-transition-delay: 0s, 0s, 0.25s;
            transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
         -o-transition-delay: 0s, 0.25s, 0s;
            transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
  }
  .btn:focus {
    outline: 2px dotted #55d7dc;
  }
  
  body {
    background: #1f1a25;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100vh;
}

@media (max-width: 1368px){
    .popup__right{
        padding: 1rem 5rem;
    }

    .popup__text{
        height: 31rem;
    }
}