body
{
	margin: 0;
	/* background: #082c4c;; */
	text-align: center;
}
*
{
	box-sizing: border-box;
	font-family:montserrat;
	text-align: center;
}


#main
{
	margin:0 7%;
	/* background: #eee; */
	/*border: 2px solid #0006;*/
}

header
{
	background: #fff;	
	border-bottom: 2px solid black;
	position: sticky;
	top: -30px;
	z-index: 4;
}

header p
{
	margin: 0 auto;
	padding:0 10px 10px;
	font-weight: 500;
	width: 80%;
}
header h1
{
	padding: 30px 10px 0px 10px;
	margin: 0;
	font-size: 2.6em;
}


body h2
{
	padding:10px 0 10px;
	margin:0;
	color: #444;
	font-weight: 900;
	z-index: 90;
}

.container
{
	display: flex;
	padding: 50px;
	height: auto;
	flex-wrap: wrap;
	justify-content:center;

}

.card
{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	min-width: 230px;
	height: 330px;
	margin: 50px;
	overflow: hidden;
	justify-content: flex-start;
	background-size: cover;
	box-shadow: 0 4px 36px -5px #555;
}


.dp	
{
	text-align: center;
	width: 190px;
	height: 190px;
	border-radius: 50%;
	margin: 20px auto;
	overflow: hidden;
	position: absolute;
/* 	background: url(../images/dp3.jpg);*/	
	background-position: center;
	z-index: 3;
	border: 5px solid #fff;
	box-shadow:inset 0 0px 10px 3px #3339;
	animation:move 2s infinite;
}

.dp-1{
	background: url(../images/team/Ashutosh.jpg);
	background-size: contain;
}
.dp-2{
	background: url(../images/team/Rajkumar.jpg);
	background-size: cover;
}
.dp-3{
	background: url(../images/team/Nitish.jpeg);
	background-size: contain;
}
.dp-4{
	background: url(../images/team/Sweta.jpg);
	background-size: cover;
}
.dp-6{
	background: url(../images/team/Jaahnvi.jpg);
	background-size: contain;
}
.dp-7{
	background: url(../images/team/Gautam.jpeg);
	background-size: contain;
}
.dp-8{
	background: url(../images/team/Umesh.jpg);
	background-size: contain;
}
.dp-9{
	background: url(../images/team/Shivangi.jpg);
	background-size: contain;
}
.dp-10{
	background: url(../images/team/Aditya.jpg);
	background-size: contain;
}
.dp-11{
	background: url(../images/team/Shivam.JPG);
	background-size: contain;
}
.dp-12{
	background: url(../images/team/Alapati.jpeg);
	background-size: contain;
}
.dp-13{
	background: url(../images/team/mridul.jpeg);
	background-size: contain;
}
.dp-14{
	background: url(../images/team/Mohit.jpeg);
	background-size: contain;
}
.dp-15{
	background: url(../images/team/Siddhant.jpg);
	background-size: contain;
}



.name
{
	font-size: 1.4em;
	font-weight: 700;
	z-index: 3;
	font-family: roboto;
	letter-spacing: 1px;
}
.info
{
	font-size: 0.9em;
	font-weight: 500;
	color: #666;
	font-family: montserrat;
	z-index: 3;
}

.contact
{
	margin: 10px auto 7px auto;
	padding: 8px 12px;
	text-align: center;
	font-weight: 500;
	width: 60%;
	color: white;
	background: black;
	z-index: 3;


}

.data
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:90px 10px 10px 10px;
	width: 100%;
	position: absolute;
	bottom: 0;	
	transition: background-position 0.2s;
}



@keyframes move 
{
	0%{transform: translate(0,0);}
	50%{transform: translate(0,-3px);}
	100%{transform: translate(0,0);}
}



@media only screen and (max-width: 980px) {

	#main
	{
		margin: 0px;
	}
	
}